.paggination {
  display: flex;
  justify-content: center;
  padding: 28px 0 22px;

  @media (min-width: 760px) {
    padding-top: 18px 0;
  }

  @media (min-width: 1020px) {
    padding-top: 14px 0;
  }
}

.buttons {
  width: 270px;
  display: flex;
  justify-content: space-between;

  @media (min-width: 760px) {
    width: 212px;
  }
}

.button {
  padding: 16px 24px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 1rem;
  color: $text-pagination;
  font-weight: bold;
  line-height: 1.2;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  background-image: $gray-pagination;
  box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.004);
  outline: none;

  @media (min-width: 760px) {
    padding: 12px 16px;
  }
}

.disabled {
  opacity: 0.5;
}