.film {
  &__list {
    padding: 20px 0;

    @media (min-width: 760px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: stretch;
      grid-gap: 30px 30px;
      padding: 60px 0;
    }
  }

  &__item {
    @media (min-width: 760px) {
      &:hover .film__img {
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
          0 15px 12px rgba(0, 0, 0, 0.22);
      }
    }
  }

  &__link {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    margin: 20px 0;
    transition: 0.3s;

    @media (min-width: 760px) {
      margin: 0;

      &:hover {
        transform: scale(1.02);
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 10px;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 10%,
        rgba(0, 0, 0, 0.1) 90%
      );
    }
  }

  &__vote {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 4px 8px;
    background: #fff;
    border-radius: 8px;
    color: #000;
  }

  &__img {
    border-radius: 10px;
    height: 100%;
    transition: 0.3s;
  }

  &__name {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
  }
}
