.footer {
  height: 87px;
  padding: 34px 0;
  background: $green;
}

.footer-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1429rem;
  color: $black;
  line-height: 1;
  text-align: center;
  margin: 0;
}
