.header {
  background: $green;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
  }

  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #506d77;

    &__img {
      width: 20px;
    }

    &__text {
      display: none;
      margin-left: 8px;

      @media (min-width: 760px) {
        display: block;
      }
    }
  }

  .nav {
    width: 60%;

    @media (min-width: 760px) {
      width: 240px;
    }

    &__list {
      display: flex;
      justify-content: space-between;
      width: 100%;
      list-style: none;
    }

    &__link {
      padding: 8px 20px;
    }

    &__item {
      @media (min-width: 760px) {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          bottom: -10px;
          left: 50%;
          transform: translateX(-50%);
          height: 2px;
          width: 0;
          opacity: 0;
          background: #506d77;
          transition: 0.3s;
        }

        &:hover::before {
          width: 100%;
          opacity: 1;
        }
      }
    }

    &__link {
      text-decoration: none;
      text-transform: uppercase;
      color: #506d77;
    }
  }
}
