.search {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 65px;
  position: relative;
  background: $gray-search;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.16);

  &__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 255px;
    border-bottom: 1px solid $black;
  }

  &__input {
    width: 220px;
    padding: 6px 0;
    border: none;
    background: none;
    outline: none;

    &::placeholder {
      color: $black;
    }
  }

  &__icon {
    font-size: 1.1rem;
  }
}

@media (min-width: 767px) {
  .search {
    &__wrp {
      display: flex;
      justify-content: space-between;
      width: 315px;
    }

    &__input {
      width: 280px;
      font-size: 1.1rem;
    }
  }
}

.results {
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 300px;
  padding: 10px 0px;
  transform: translateX(-50%) translateY(100%);
  background: $white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 6px;
  z-index: 4;

  &__list {
    list-style: none;
  }

  &__item a {
    display: block;
    padding: 14px 20px;
    transition: 0.3s;

    &:hover {
      background: $gray-pagination;
    }
  }

  &__text {
    text-decoration: none;
    color: $black;
  }

  &__title {
    font-size: 1rem;
    padding: 14px 20px;
  }
}

.library {
  &__nav {
    display: flex;
    justify-content: center;
  }

  .nav {
    &__btn {
      display: block;
      height: 100%;
      padding: 8px 40px;
      text-decoration: none;
      color: #372c48;
      font-size: 1.1429rem;
      font-family: Roboto Medium, sans-serif;
      border-bottom: 2px solid #506d77;
      transition: 0.3s;

      &:hover {
        color: #fff;
        background-color: #77c1bb;
        border-bottom: 2px solid #77c1bb;
      }
    }

    .active {
      color: #fff;
      background-color: #77c1bb;
      border-bottom: 2px solid #77c1bb;
    }
  }
}
