each item in popularFilm
  if item.backdrop_path
    li.film-list__item
      a.film-link(href=`?id=${item.id}#inner-page`)
        img.film-img(src=`https://image.tmdb.org/t/p/w400/${item.backdrop_path}`, alt='')
        span.film-name=item.title+item.release_date


