each item in popularFilm

	li.film__item

		a.film__link(href=`/?id=${item.id}#film-page`)

			img.film__img(src=`${item.backdropPath ? item.backdropPath : item.defaultImg}`, alt='')

			span.film__name=item.title+item.releaseDate

			if (item.voteAverage)

				span.film__vote=item.voteAverage

