.title {
  padding-top: 15px;
  padding-bottom: 12px;
  font-family: 'Roboto Medium', sans-serif;
  font-size: 1.02rem;
  color: $text-black;
}

.text {
  font-size: 0.8rem;
  color: $text-inactive;
}
