section.search.library
        
    nav.library__nav.nav
        a(href="?page=watched/#library").nav__btn.nav__btn--watched.btn Watched
        a(href="?page=queue/#library").nav__btn.nav__btn--queue.btn Queue
