section.search

    form.search__wrp(method="post" autocomplete="off")
        i.fas.fa-search.search__icon
        input(type="search" name="search" placeholder="Write movie name and click Enter").search__input

    .search__results.results.hidden
        p.results__title.title
        ul.results__list