article.details.container-film
    .details__img-wrp
        img(src="" alt="").details__img
    .details__content-wrp
        h2.details__title.title.copy--js 
            span.popup__hidde  Dumbo (2019) скачать без смс и регистрации
            span.popup__name  Dumbo (2019)
            .popup
                span.popup__title Кликни чтобы скопировать
                span.popup__text Не нужно нажимать 
                    kbd Ctrl
                    kbd C
                br
                span.popup__text Мы ценим ваше время :)
        table.details__table.table
            tr.table__row
                td.table__cell.table__cell--left.text vote / votes
                td.table__cell.text 6.5 / 1422
            tr.table__row
                td.table__cell.table__cell--left.text popularity
                td.table__cell.text 100.2
            tr.table__row
                td.table__cell.table__cell--left.text popularity
                td.table__cell.text Dumbo
            tr.table__row
                td.table__cell.table__cell--left.text genre
                td.table__cell.text drama, geography, history
        section.details__about
            h2.details__title.title About
            p.details__text.text A young elephant, whose oversized ears enable him to fly, helps save a struggling circus, but when the circus plans a new venture, Dumbo and his friends discover dark secrets beneath its shiny veneer.
            .details__btn-wrp
                button.details__btn.btn
                    i.fas.fa-video.details__icon 
                    |  Add to watched
                button.details__btn.btn
                    i.far.fa-calendar-plus.details__icon 
                    |  Add to queue