header.header
    .container-main
        nav.header-nav
            a.site-logo(href='#')
                img.site-logo__img(src='./img/logo.png' alt='' ) 
                p.site-logo__text Filmoteka   
            ul.site-nav
                li.site-nav__item
                    a.site-nav__link(href='#') home
                li.site-nav__item
                    a.site-nav__link(href='#') my library