section.search
    .search__wrp
        i.fas.fa-search.search__icon
        input(type="search" placeholder="Write movie name and click Enter").search__input
    .search__results.results(hidden)
        p.results__title.title
        ul.results__list
    .buttons.search-buttons(style="display: none;")
        button.search-button.open-watched-js Watched
        button.search-button.open-queue-js Queue
