section.search
    .search__wrp
        i.fas.fa-search.search__icon
        input(type="search" placeholder="Write movie name and click Enter").search__input
    .search__results.results
        ul.results__list
            li.results__item
                p.results__text Lorem, ipsum dolor.
            li.results__item
                p.results__text Lorem ipsum dolor sit.
            li.results__item
                p.results__text Lorem ipsum dolor sit amet.
            li.results__item
                p.results__text Lorem ipsum dolor sit.